#latest{
    margin-left: 100px;
    position: relative;
    display: inline-block;
    /* top: 100px;
    left: 20px; */
    top: 610px;
    left: 10px;
} 
#grid-container{
    margin-left: 0px;
    display: flex;
}
.child{
    margin: 25px;
    padding: 12px;
}
img{
    width: 350px;
}
.line2{
    width: 100px;
    background-color: red;
    height: 3px;
}

@media( max-width:420px) {

    #latest{ 
        top: 910px;
        left: -80px;
    } 
    #grid-container{
       margin-left: -10px;
       display: block;
    }
    
}
