* {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

#logo {
    margin: 25px;
    text-align: center;
}

.the {
    writing-mode: vertical-lr;
    text-transform: capitalize;
    display: inline-block;
}

.Siren {
    display: inline;
}
.nav{
   
    height: 50px;
   
}

ul {
    float: right;
    margin-right: 80px;
}

li {
    display: inline-block;
    text-transform: capitalize;
    margin: 0 70px;
    padding: 10px;
}

@media (max-width:480px) {

    #logo {
        display: inline-block;
    }
    .nav li{
        flex-direction: column;
    }

    #i {
        display: inline;    
    }

  
    #i:checked~ul {
        left: 0px;

    }





}
@media (min-width:500px) and (max-width:850px) {
    #logo {
        margin-left: 20%;
    }
    .nav{
        display: flex;
        justify-content: space-around;
    }
    ul {
       
        margin-right: 0px;
    }
    li{
        margin: 0px 20px;
    }


}