
/* title of page  */
.index{
    position: relative;
    top: -30px;
    left: 100px;
}
.title-name,.title-second-name{
    font-size: x-large;
    font-weight: bold;
}
.title-second-name{
    position: absolute;
    top: 0px;
    left: 900px;
}
.hr{
    background-color: red;
    width: 100px;
    margin-left: 0px;
    height: 3px;
    border-radius: 10px;

}
/* template body */
.Grid-template  {  
    margin: 0px 100px;
    display: flex;
}
.flex-Blog1{
    flex-direction: column;
    flex-wrap: wrap;

}
.childrens{
    width: 880px;
    margin: 10px;
    padding: 10px;
    height: 230px;
   
}

.img-size{
    width: 270px;
    height: 180px;
    margin-top: 0px;

}
.childrens-right{
    position: relative;
    left: 300px;
    top: -200px;
    width: 550px;
   
}
.flex-title{
   margin-top: 0px;
    
} 
.Flex-content{
    margin-top: 5px;

}
.flex-time{
    margin-top: 10px;
    font-weight: bold;
}
.line{
    /* margin-top: 25px; */
}



.flex-Blog2{
    width: 420px;
    margin: 10px;
    
}
.post-one{
    height: 320px;

}
.post-one-title,.post-one-time{
    margin-left: 20px;
    font-weight: bold;
}

.static{
    margin: 20px;
    min-width: 300px;
    height: 200px;
}
.childrens-rideside{
    margin-top: 10px;
    height: 120px;
}
.img-resize{
    width: 150px;
    height: 100px;
    padding: 20px;
}
.post-two-title{
    position: relative;
    top: -120px;
    left: 150px;
    width: 250px;
   
}
.post-three{
    border: 1px solid black;
    margin-top: 20px;
    min-height: 700px;
    text-align: center;

}

/* Article content */
.article{
    margin: 20px;
    /* height: 60px; */

}
#logo-article{
    text-align: none;
    margin-left: 200px;
}
.getstart{
    padding: 10px;
    border: 5px solid green;
    margin: 20px;
    color: green;
    margin-left: 900px;
    
}
.body{
    margin-left: 500px;
    margin-top: 50px;
    position: relative;
    width: 600px;
    height: 100%;
}
.title{
    text-align: center;
   
}
#profile{
    margin-top: 30px;
}
.imgs-body{
    width: 200px;
    height: 200px;
    border-radius: 100px;
  
}
.fa-brands{
    margin: 5px;
}
#author-name{
    position: absolute;
    top: 100px;
    left: 230px;
    
}
.logo-media{
    position: absolute;
    left: 500px;
}
#time{
    margin-top: 5px;
    font-size: 10px;
}

#urlimage{
    margin-top: 30px;
    width: 100%;
    height: 400px;
}


/* footer */

#footer{
    margin-left: 500px;
    position: relative;
   
    margin-top: 10px;
    height: 100%;
    width: 600px;

}
.imgs-footer{
  
  
    width: 200px;
    height: 200px;
    border-radius: 100px;

}
#author-footer{
    position: absolute;
    top: 30px;
    left: 250px;
}


/* latest article */


.position{
    position: relative;
    top: 650px;
}

.post-three-latest{
    width: 400px;
    margin-top: 20px;
    height: 600px;
    background-color: aliceblue;
    border: 2px solid black;
    position: absolute;
    top: 0px;
    left: 1000px;
}
.flex-Blog2-last{
    position: absolute;
    top: 630px;
    left: 1000px;

}
#img-big{
    position: absolute;
    left: 150px;
}
.img-big{
    width: 600px;
    height: 300px;
}
.static{
    width: 100px;
    height: 150px;
}

/* Latest stories */
#LatestStories{
    margin-left: 100px;
    position: relative;
    top: 1000px;
}
#Flex-container{
    margin-left: 30px;
    display: flex;

}
.flex-child{
    margin: 15px;
    padding: 10px;
    border: 1px solid black;
   
}
.tech{
    margin-top: 50px;
}
.arrow{
    width: 20px;
}
.line3{
    width: 100px;
    background-color: red;
    height: 3px;
}


@media(min-width:280px) and (max-width:420px) {

/* title */

    .index{
        top: -50px;
        left: 30px;
    }
    .title-name,.title-second-name{
        font-size: large;
        font-weight: bold;
    }
    .title-second-name{
        position: absolute;
        top: 1500px;
        left: 0px;
        
    }
    .hr{
        width: 50px;
    
    }
    /* template body */

    .Grid-template  {  
        margin: 10px 0px;
        display: block;
        font-size: small;
       
    
    }
     .flex-Blog1{
        width: 100%;
        position: relative;
    
    } 
    .childrens{
        margin: 5px;
        padding: 0px;
        width: 95%;  
        height:240px;
    }
    
    .img-size{
        max-width: 40%;
        height: 100px;
    
    }
    .childrens-right{
       font-size: 10px;
        left: 170px;
        width: 55%;
        height: 200px;
       
    }
    /* article content */

    .article{
         height: 60px;
         width: 100%;
    
    }
    #logo-article{
        margin-left: 0px;
    } 
    .getstart{
        margin-left: 140px;   
    }
    .body{
        margin-left: 10px;
        margin-top: 30px;
        width: 100%;
        height: 100%;
    }
   
    #profile{
        margin-top: 10px;
    }
    .imgs-body{
        width: 100px;
        height: 100px;
        border-radius: 50px;
      
    }
    #author-name{
        top: 100px;
        left: 130px;
        
    }
    .logo-media{
        position: absolute;
        left: 260px;
    }
  
    
    #urlimage{
        margin-top: 30px;
        width: 100%;
        height: 400px;
    }
    
    
    /* footer */
    
    #footer{
        margin-left: 0px;  
        margin-top: 10px;
        /* height: 100%; */
        width: 100%;
    }
    .imgs-footer{
        width: 100px;
        height: 100px;
        border-radius: 50px;
    
    }
    #author-footer{
        top: 10px;
        left: 150px;
    }
    


 
    
/* latest article */
.position{
    top: 950px;
}
.title-second-name{
    position: absolute;
    top: 1470px;
    left: 0px;
}

.post-three-latest{
    width: 100%;
    height: 400px;
    top: 1350px;
    left: 10px;
}
.flex-Blog2-last{
    position: absolute;
    top: 1850px;
    left: 10px;

}
#img-big{
    left: 10px;
}
.img-big{
    width: 100%;
    height: 300px;
}


   
/* Latest stories */
#LatestStories{
    margin-left: 10px;
    top: 2500px;
}
#Flex-container{
    margin-left: 30px;
    display: block;

}

.arrow{
    width: 20px;
}
}
@media(min-width:430px) and (max-width:850px) {
    .article{
        height: 60px;
        width: 100%;
   
   }
    #logo-article{
       margin-left: 50%;
   } 
   /* .getstart{
       margin-left: 140px;   
   } */
   .body{
       margin-left:10px;
       margin-top: 30px;
       width: 100%;
       height: 100%;
   }
  
   #profile{
       margin-top: 10px;
   }
   .imgs-body{
       width: 100px;
       height: 100px;
       border-radius: 50px;
     
   }
   #author-name{
       top: 100px;
       left: 130px;
       
   }
   /* .logo-media{
       position: absolute;
       left: 260px;
   } */
 
   
   #urlimage{
       margin-top: 30px;
       width: 100%;
       height: 400px;
   } 



}
@media (min-width:500px) and (max-width:850px) {
    /* templat body */
   

    .Grid-template  {  
        margin: 0px 50px;
        display: block;
    }
    .title-second-name{
        position: absolute;
        top: 1420px;
        left: 10px;
    } 
    .flex-Blog2{
        width: 720px;
        margin: 20px;
        
    }
   

    
    .static{
        margin: 20px;
        min-width: 500px;
        height: 220px;
    }
   
    .img-resize{
        width: 150px;
        height: 100px;
        padding: 20px;
    }
    .post-two-title{
        position: relative;
        top: -100px;
        left: 150px;
        width: 500px;
        font-size: 18px;
       
    }
    .post-three{
        border: 1px solid black;
        margin-top: 20px;
        min-height: 700px;
        text-align: center;
    
    }
    
    /* latest article */
    
.position{
    top: 900px;
    left: -50px;
}

.post-three-latest{
    width: 600px;
    top: 1300px;
    left: 100px;
}
.flex-Blog2-last{
    position: absolute;
    top: 1900px;
    left: 80px;

}
#img-big{
    left: 70px;
}
.img-big{
    width: 600px;
    height: 300px;
}
.static{
    width: 200px;
    height: 150px;
}


/* Latest stories */
#LatestStories{
    margin-left: 20px;
    top: 2500px;
}






}